.mainContato{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 93vh;
}

section#contato{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  width: 35rem;
  box-shadow: 0 5px 12px 10px #1f1f1f1a;
}
div#header-form{
  font-family: "Poppins", Arial, Helvetica, sans-serif;

  color: #1043CF;
  
  border-bottom: solid 2px #dfdfdf;
  
  
  display: flex;
  justify-content: center;
  width: 100%;
}
form#form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label-title{
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.form-content{ 
  padding: 1rem;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: .5rem
}
.form-content input{
  width: 30rem;
  border-radius: .5rem;
  padding: .5rem;
  border: 2px solid #dfdfdf;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}
textarea#mensagem{
  width: 30rem;
  height: 10rem;
  padding: 1rem;
  border-radius: .5rem;
  border: 2px solid #dfdfdf;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}
.form-content a{
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  display: none;
}
form#form button{
  background-color: #1043CF;
  color:#fff;
  width: 30%;
  border-radius: 1rem;
  padding: .8rem;
  border:0;
  font-size: 16px;
  cursor: pointer;
  margin-top: 14px;
  transition: .3s;
}
form#form button:hover{
  background-color: #168fe0;
}

