*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h1{
    padding: 3rem;
}
.produtos{
    padding: 0rem 0rem 5rem 0rem;
}
.produtos-grade{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
}

.produtos-titulo{
    font-weight: 600;
}

.produtos-preco{
    font-weight: 400;
    color: rgb(114, 114, 114);
}
