*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.produtos h1{
    font-size: 28pt;
    font-weight: 600;
    padding: 3rem;
}
container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 6rem;
}
img{
    width: 100%;
}
.produtos-grade{
    display: flex;
    gap: 1rem;
}
.produtos-titulo{
    font-weight: 600;
}
.produtos-preco{
    font-weight: 400;
    color: rgb(114, 114, 114);
}
