@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
  }

.menu {
    font-family: "Poppins", Arial, Helvetica, sans-serif ;
    font-weight: 500;
    background-color: #1043CF;
    color: #fff;
    padding: 20px 60px 20px ;
}
.nav-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
  

.home-main{
  padding: 4rem 5rem 6rem 5rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-main h1{
  padding: 20px 0;
  font-size: 35pt;
}
.home-image{
  width: 50vw;
}
.btn{
  color: #1043CF;
  display: inline-block;
  justify-content: end;
  padding: 5rem 0px;
}
.btn::after{
  color: #1043CF;
}


.footer {
    background-color: #333;
    color: white;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    padding: 20px;
}
.address {
    font-weight: 200;
}
  
.copy-right {
    text-align: center;
}
  

  